<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.27.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0"></script>
  <script>
    let HOST = location.origin.replace(/^http/, 'ws')
    console.log("wss", HOST)
    let ws = new WebSocket(HOST);
    let el;
    ws.onmessage = (event) => {
      console.log("event", event)
      let result = JSON.parse(event.data)
      console.log('result', result, typeof result );
      let dataX = pushAndShift(myChart.data.datasets[0].data, result.x)
      let dataY = pushAndShift(myChart.data.datasets[1].data, result.y)
      let dataZ = pushAndShift(myChart.data.datasets[2].data, result.z)
      console.log("data", dataX, dataY, dataZ)
      myChart.data.datasets[0].data = dataX;
      myChart.data.datasets[1].data = dataY;
      myChart.data.datasets[2].data = dataZ;
      myChart.update();  
      el = document.getElementById('server-time');
      el.innerHTML = 'Server time: ' + result.x ;
    };
    function pushAndShift(array, value){
        array.push(value)
        array.shift()
        return array
    }
  </script>
</head>

<body>

  <p id="server-time"></p>
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>
  
  <script>
    
  
    const data = {
      datasets: [
        {
          label: 'Dataset 1 (Linear Interpolation)',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132, 0.2)',
          borderDash: [8, 4],
          data: []
        },
        {
          label: 'Dataset 2 (Cubic Interpolation)',
          backgroundColor: 'rgb(75, 192, 192)',
          borderColor: "rgb(75, 192, 192)",
          cubicInterpolationMode: 'monotone',
          data: []
        },
        {
          label: 'Dataset 2 (Cubic Interpolation)',
          backgroundColor: 'rgb(175, 192, 12)',
          borderColor: "rgb(175, 192, 12)",
          cubicInterpolationMode: 'monotone',
          data: []
        },
      ]
    };
  
    const config = {
      type: 'line',
      data: data,
      options: {
        scales: {
          x: {
            type: 'realtime',
            realtime: {
              duration: 20000,
              refresh: 1000,
              delay: 2000,
            }
          },
          y: {
            title: {
              display: true,
              text: 'Value'
            }
          }
        },
        interaction: {
          intersect: false
        }
      }
    };
    
    let myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
</body>
</html>
