<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    let HOST = location.origin.replace(/^http/, 'ws')
    console.log("wss", HOST)
    let ws = new WebSocket(HOST);
    let el;
    ws.onmessage = (event) => {
      console.log("event", event)
      let result = JSON.parse(event.data)
      console.log('result', result, typeof result );
      let dataX = pushAndShift(myChart.data.datasets[0].data, result.x)
      let dataY = pushAndShift(myChart.data.datasets[1].data, result.y)
      let dataZ = pushAndShift(myChart.data.datasets[2].data, result.z)
      console.log("data", dataX, dataY, dataZ)
      myChart.data.datasets[0].data = dataX;
      myChart.data.datasets[1].data = dataY;
      myChart.data.datasets[2].data = dataZ;
      myChart.update();  
      el = document.getElementById('server-time');
      el.innerHTML = 'Server time: ' + result.x ;
    };
    function pushAndShift(array, value){
        array.push(value)
        array.shift()
        return array
    }
  </script>
</head>

<body>

  <p id="server-time"></p>
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
</div>
  
  <script>
    
  
    let data = {
      datasets: [
        {
          label: 'My First dataset',
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: [0,0,0,0,0,0,0],
        },
        {
          label: 'My Second dataset',
          backgroundColor: 'rgb(0, 99, 132)',
          borderColor: 'rgb(0, 99, 132)',
          data: [0,0,0,0,0,0,0],
        },
        {
          label: 'My Third dataset',
          backgroundColor: 'rgb(255, 99, 0)',
          borderColor: 'rgb(0, 99, 132)',
          data: [0,0,0,0,0,0,0],
        },
    ]
    };
  
    let config = {
      type: 'line',
      data: data,
      options: {}
    };
    let myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
</body>
</html>
